.idea*

__pycache__

lambda_function/__python_reqs__/*
!lambda_function/__python_reqs__/.gitkeep

deployment/terraform/lambda_function.zip
deployment/terraform/.terraform
deployment/terraform/terraform.tfvars
deployment/terraform/terraform.tfstate*
.coverage
